//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {

}



//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: $default;
  font-family: $font1;
}



//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}



//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {

}



//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {

}



//----------------------------------------------------------------------------
//  Input
//----------------------------------------------------------------------------

input {

}



//----------------------------------------------------------------------------
//  Lists
//----------------------------------------------------------------------------
li {

}

ol {

}

ul {

}



//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {
  padding: 0 16px;
  text-align: left;
}

p + p {

}



//----------------------------------------------------------------------------
//  Section Elements  //c019
//----------------------------------------------------------------------------
address {

}

article {

}

aside {

}

footer {

}

header {

}

main {

}

nav {

}

section {

}



//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {
  color: $gray30;
  font-family: $font2;
}
