//----------------------------------------------------------------------------
//  AREA
//----------------------------------------------------------------------------
.abasic {
  border: 1px solid $gray10;
  display: inline-block;
  margin: 30px 0;
  padding-bottom: 30px;
}


//----------------------------------------------------------------------------
//  BLOCK
//----------------------------------------------------------------------------
.bpagetitle {
  background: $black80;
  color: white;
  font-weight: 700;
  margin-bottom: 24px;
  padding: 6px 60px;
  text-transform: uppercase;
}


//----------------------------------------------------------------------------
//  COMMON COMPONENTS
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  FOOTER
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  HEADER
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  MAIN
//----------------------------------------------------------------------------


//----------------------------------------------------------------------------
//  STYLE
//----------------------------------------------------------------------------
.spagetitle {

}
