//----------------------------------------------------------------------------
//  Animations
//----------------------------------------------------------------------------
$animate: 0.2s;



//----------------------------------------------------------------------------
//  Backgrounds
//----------------------------------------------------------------------------
$default: white;



//----------------------------------------------------------------------------
//  Colors
//----------------------------------------------------------------------------
$black80: #4a4a4a;
$gray10: #dee0e2;
$gray30: #848484;



//----------------------------------------------------------------------------
//  Font Families  //c013
//----------------------------------------------------------------------------
$font1: 'Arial', sans-serif;
$font2: 'Courier', sans-serif;
$font3: 'Arial', sans-serif;



//----------------------------------------------------------------------------
//  Font Sizes  //c017
//----------------------------------------------------------------------------
$smallest: 8px;
$smaller: 10px;
$small: 12px;
$base: 14px;
$big: 18px;
$bigger: 22px;
$biggest: 26px;



//----------------------------------------------------------------------------
//  Font Weights  //c018
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  Responsive Breakpoints  //c014
//----------------------------------------------------------------------------
$troosevelt: 320px;
$taft: 375px;
$wilson: 414px;
$harding: 480px;
$coolidge: 550px;
$hoover: 620px;
$froosevelt: 680px;
$truman: 768px;  //c015
$eisenhower: 800px;
$kennedy: 850px;
$johnson: 900px;
$nixon: 992px;  //c015
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;  //c015
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;
